body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

@media screen and (min-height: 1000px) {
  body {
    display: block;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}